#header_height{
    height: 100vh;
}
header{
    height: 100vh;
}

header p {
    position:absolute;
    bottom:20px;
}

header h1 {
    position:absolute;
    bottom:60px;
}

[id^=project]{
    height: 500px;
}

#project1{
    background-image: url(pablo-heimplatz-243307.jpg);
    background-size: cover;
    position: relative;
}

#project2{
    background-image: url(jorge-gordo-205017.jpg);
    background-size: cover;
    position: relative;
}

#project3{
    background-image: url(anthony-delanoix-15928.jpg);
    background-size: cover;
    position: relative;
}

#project4{
    background-image: url(william-white-37151.jpg);
    background-size: cover;
    position: relative;
}

#project1:after,
#project2:after,
#project3:after,
#project4:after{
    content: "";
    display:block;
    width: calc(100%);
    height: 500px;
    background:white;
    opacity:0.3;
    position: absolute;
    top:0px;
    left:0px;
}

#project1:hover:after,
#project2:hover:after,
#project3:hover:after,
#project4:hover:after{
    display:none;
}

main a{
    position: absolute;
    right:10px;
    bottom:10px;
}
